<div class="row">
  <div class="col-sm-8 col-sm-8-offset-2">
    <h2>Enregistrer une nouvelle erreur</h2>
    <form [formGroup]="errorForm" (ngSubmit)="onSaveError()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="definition" [ngStyle]="{color:'red'}">Définition</label>
        <textarea type="text" class="form-control" id="definition" formControlName="definition"></textarea>
      </div>
      <div class="form-group">
        <label for="definitionCode" [ngStyle]="{color:'red'}">Code</label>
        <textarea type="text" class="form-control" id="definitionCode" formControlName="definitionCode"></textarea>
      </div>
      <div class="form-group">
        <label for="solution" [ngStyle]="{color:'green'}">Solution</label>
        <textarea type="text" class="form-control" id="solution" formControlName="solution"></textarea>
      </div>
      <div class="form-group">
        <label for="solutionCode" [ngStyle]="{color:'green'}">Code</label>
        <textarea type="text" class="form-control" id="solutionCode" formControlName="solutionCode"></textarea>
      </div>
      <div class="form-group">
        <h4>Ajouter une photo</h4>
        <input type="file" (change)="detectFiles($event)" class="form-control" accept="image/*">
        <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
      </div>
      <button class="btn btn-success"
              [disabled]="errorForm.invalid || fileIsUploading"
              type="submit">Enregistrer</button>
    </form>
  </div>
</div>
