button {
  margin-top: 2rem;
}

.definitionCode {
  border: .1px solid red;
  padding: 2rem;
  border-radius: 5px;
}

.solutionCode {
  border: .1px solid green;
  padding: 2rem;
  border-radius: 5px;
}
